<h2>Create A New List</h2>

<form action="/lists" method="POST">
    <label for="title">Title: </label>
    <input type="text" name="list[title]">
    <label for="date">Date: </label>
    <input type="date" name="list[date]">
    <br><br>
    <input type="submit" value="Create List">
</form>
<br>
<a href=<%= "/users/#{current_user.id}" %>><< Back</a>