<h2>DELETE CONFIRMATION</h2>

<p>Are you sure you want to delete this account? This action cannot be reversed.</p>
<form action=<%= "/users/#{current_user.id}"%> method="POST" style="display: inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="YES, DELETE ACCOUNT">
</form>
<form action=<%= "/users/#{current_user.id}/profile" %> method="GET" style="display: inline">
    <button>NO, BACK TO PROFILE</button>
</form>
