<h2>Create A New Account</h2>

<% if @error %>
    <p style="color: #FF0000"><%= @error %></p>
<% end %>

<em style="font-size: 12px">* indicates a required field</em>
<br><br>
<form action="/users" method="POST">
    <label for="username">* Username: </label>
    <input type ="text" name="user[username]" placeholder="Username (required)">
    <br><br>
    <label for="password">* Password: </label>
    <input type="password" name="user[password]" placeholder="Password (required)">
    <br><br>
    <label for="firstname">* First Name: </label>
    <input type="text" name="user[firstname]" placeholder="First Name (required)">
    <label for="lastname">* Last Name: </label>
    <input type="text" name="user[lastname]" placeholder="Last Name (required)">
    <br><br>
    <input type="submit" value="Create account!">
</form>
<br>
Already have an account?
<a href="/login">Click here to sign in!</a>