<h2>Create A New Account</h2>

<% if @error %>
    <p style="color: #FF0000"><%= @error %></p>
<% end %>

<form action="/users" method="POST">
    <label for="username">*Username: </label>
    <input type ="text" name="user[username]">
    <br><br>
    <label for="password">*Password: </label>
    <input type="password" name="user[password]">
    <br><br>
    <label for="firstname">*First Name: </label>
    <input type="text" name="user[firstname]">
    <label for="lastname">*Last Name: </label>
    <input type="text" name="user[lastname]">
    <br><br>
    <input type="submit" value="Create account!">
</form>
<br>
Already have an account?
<a href="/login">Click here to sign in!</a>