<h2>Change Your Password</h2>

<% if @error %>
    <p style="color: #FF0000"><%= @error %></p>
<% end %>

<form action=<%= "/users/#{current_user.id}/profile/password" %> method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="old_password">Current Password: </label>
    <input type ="password" name="old_password">
    <br><br>
    <label for="password">New Password: </label>
    <input type="password" name="password">
    <br><br>
    <label for="confirm_password">Confirm Password: </label>
    <input type="password" name="confirm_password">
    <br><br>
    <input type="submit" value="Save">
</form>
<br>
<a href=<%= "/users/#{current_user.id}/profile" %>><< Back</a>