<h2>List(s) for <%= "#{@user.firstname} #{@user.lastname}" %></h2>

<form action="/logout" method="GET">
    <button>Sign out</button>
    <br><br>
    <button formaction="/lists/new">Create a new list</button>
</form>
<br>
<ul>
    <% @user.lists.each do |list| %>
    <li><a href=<%= "/lists/#{list.id}"%>><%= list.date %> - <%= list.title %></a></li>
    <% end %>
</ul>

