<form action=<%= "/items/#{@item.id}" %> method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="name">Item Name: </label>
    <input type="text" name="item[name]" value="<%= @item.name %>">
    <label for="quantity">Quantity: </label>
    <input type="number" name="item[quantity]" value="<%= @item.quantity %>">
    <input type="submit" value="Edit Item">
</form>