<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>FridgeTracker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap.rtl.css" rel="stylesheet"> -->
    <link href="/stylesheets/main.css" rel="stylesheet">

  </head>
  <body>
    <div class="wrapper">
      <!-- <div class="container">
        <div class="row">
          <div class="col"></div>
        </div>

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6"></div>
          <div class="col-md-3"></div>
        </div>

        <div class="row">
          <div class="col-md-3">
          </div>

          <div class="col-md-6"> -->

            <%= yield %>

            <footer class="branding">
              <small>&copy; 2021 <strong>FridgeTracker</strong></small>
            </footer>
          
          <!-- </div>

          <div class="col-md-3">
          </div>
        </div>

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6"><br><br></div>
          <div class="col-md-3"></div>
        </div>

        <div class="row">
          <div class="col"></div>
        </div>
      </div> -->
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
    <!-- Bootstrap JS Plugins
    <script src="/js/bootstrap.bundle.min.js"></script> -->
  </body>
</html>
